body {
    background-color: grey;
}

@media (min-width : 400px) {
    body {
        background-color: red;
    }
}
@media (min-width : 600px) {
    body {
        background-color: green;
    }
}