.flex-container {
    padding: 10px;
    display: inline-flex;
    background-color: blue;
}

.flex-container > div {

    width: 50px;
    background-color: brown;
    margin: 10px;
    padding: 10px;
    font-size: 20px;

}

#flex-direction1 {
    /* display: inline-flex; */
    padding: 10px;
    background-color: cyan;
    display: flex;
    flex-direction: column;
}

#flex-direction1 > div {
    background-color: darkkhaki;
    margin: 10px;
    width: 25%;
}
#flex-direction2 {
    /* display: inline-flex; */
    padding: 10px;
    background-color: cyan;
    display: flex;
    flex-direction: column-reverse;
    
}

#flex-direction2 > div {
    
    background-color: darkkhaki;
    margin: 10px;
    width: 25%;
}
#flex-direction3 {
    /* display: inline-flex; */
    padding: 10px;
    background-color: cyan;
    display: flex;
    flex-direction: row;
    
}

#flex-direction3 > div {
    
    background-color: darkkhaki;
    margin: 10px;
    width: 25%;
}
#flex-direction4 {
    /* display: inline-flex; */
    padding: 10px;
    background-color: cyan;
    display: flex;
    flex-direction: row-reverse;
    
}

#flex-direction4 > div {
    
    background-color: darkkhaki;
    margin: 10px;
    width: 25%;
}

#flex-wrap {
    background-color: darkslateblue;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
    /* flex-wrap: nowrap; */
    padding: 10px;
}
#flex-wrap > div {
    width: 50px;
    background-color: deeppink;
    margin: 10px;
}


#flex-flow {
    background-color: dodgerblue;
    padding: 10px;
    display: flex;
    flex-flow: row-reverse wrap;

}

#flex-flow > div {
    background-color: fuchsia;
    margin: 10px;
    width: 100px;
    text-align: center;
}

#justify-content {
    height: 500px;
    background-color:royalblue;
    padding: 10px;
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    align-items: baseline;
    /* align-items: center; */

}

#justify-content > div {
    width: 100px;
    background-color:tomato;
    text-align: center;
    margin: 10px;
}

#align-item {
    background-color: yellowgreen;
    height: 500px;
    display: flex;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    align-items: baseline;

}
#align-item > div {
    background-color: turquoise;
    margin: 5px;
}


#order {
    background-color: yellow;
    padding: 5px;
    display: flex;
}

#order > div {
    background-color: violet;
    width: 100px;
    text-align: center;
    margin: 5px;

}

#B {
    order: 1;
}
#A {
    order:2;
}